.background img{
  position: absolute;
  width: 100%;
  height: 100%;
}


#time {
    color: blue;
    font-family: courier, monospace;
    font-size: 4em;
    height: 200px;
    margin: auto;
    text-align: center;

    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
}

@media(min-width: 750px) {
    #time {
        font-size: 16em;

    }
}
